<h3>{{author.fullName}}</h3>
<p>Date of Birth: {{author.dateOfBirth}}</p>
<p>Nacionality: {{author.nacionality}}</p>
<p>Books:
  <ul>
    {{#each author.books}}
      <li><a href="/books/details/{{_id}}">{{title}}</a></li>
    {{/each}}
  </ul>
</p>

{{#if author.awardWinner}}
  <p>Has won an award</p>
{{else}}
  <p>Has not won an award</p>
{{/if}}
<img src="{{author.image}}" alt="{{author.fullName}} picture">
<hr>
<a href="/authors/edit/{{author._id}}">Edit</a>
<a href="/authors">Back</a>
<form action="/authors/delete/{{author._id}}" method="post"><button>Delete</button></form>
